<div class="container-fluid" >
  <div class="row">
    <div class="col-md-7">
      <ng-container *ngIf=" image; else loading">
        <img  [src]="image" alt="img-concurso" >
      </ng-container>
      <ng-template #loading ><i class="fa fa-spinner fa-spin" style="font-size:60px"></i></ng-template>
    </div>
    <div class="col-md-5" >
      <h2 class="text-center my-5">Inscrição Sorteio Media Rumo</h2>
      <form (ngSubmit)="validarSubscritor(subscritorF)" #subscritorF="ngForm" novalidate >
        <div class="form-group row"> 
          <div class="col-sm-6">
            <label class=" col-form-label">Nome próprio<span >*</span></label>
            <div  [class.has-success]="nome.valid && ( nome.dirty || nome.touched)" [class.has-danger]="!nome.valid && ( nome.dirty || nome.touched)"> 
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="sizing-addon1"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Escreva o seu nome" required name="nome" [(ngModel)]="subscritor.nomeProprio" pattern="^[a-zA-Z]{1,20}$" #nome="ngModel" autocomplete="off">
              </div>
              <div class="alert alert-danger error" *ngIf="!nome.valid && ( nome.dirty || nome.touched)">
                <span *ngIf="nome.errors.required" class="help-block"><i class="fa fa-remove"></i> Campo obrigatório.</span>
                <span *ngIf="nome.errors.pattern" class="help-block"><i class="fa fa-remove"></i> Formato inválido. Deve ter apenas letras.</span>
              </div>
            </div> 
          </div>
          <div class="col-sm-6">
            <label class=" col-form-label">Apelido<span>*</span></label>
            <div  [class.has-success]="apelido.valid && ( apelido.dirty || apelido.touched)" [class.has-danger]="!apelido.valid && ( apelido.dirty || apelido.touched)"> 
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="sizing-addon1"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Escreva o seu apelido" required name="apelido" [(ngModel)]="subscritor.apelido" pattern="^[a-zA-Z]{1,20}$" #apelido="ngModel" autocomplete="off">
              </div>
              <div class="alert alert-danger error" *ngIf="!apelido.valid && ( apelido.dirty || apelido.touched)">
                <span *ngIf="apelido.errors.required" class="help-block"><i class="fa fa-remove"></i> Campo obrigatório.</span>
                <span *ngIf="apelido.errors.pattern" class="help-block"><i class="fa fa-remove"></i> Formato inválido. Deve ter apenas letras.</span>
              </div>
            </div> 
          </div>
        </div> 
        <div class="form-group row">
          <div class="col-sm-6" >
            <label class=" col-form-label">Data de nascimento<span >*</span></label>  
            <div class="input-group">
              <input type="text" id="dtn" name="dtnasc" class="form-control" [(ngModel)]="dataNascimento" placeholder="Data de nascimento" #dp="bsDatepicker"
             bsDatepicker [minDate]="minDate" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',containerClass:'theme-blue' }" required readonly>
              <div class="input-group-prepend"> 
                <span class="input-group-text" id="basic-addon" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
                <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="col-form-label">Bilhete de identidade<span >*</span></label>
            <div [class.has-success]="bi.valid && ( bi.dirty || bi.touched)" [class.has-danger]="!bi.valid && ( bi.dirty || bi.touched)">  
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="sizing-addon1"><i class="fa fa-file-text"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="123456789AZ001" required maxlength="14" minlength="14" name="bi" [(ngModel)]="subscritor.bi" #bi="ngModel" pattern="^[0-9]{9}[a-zA-Z]{2}[0-9]{3}" autocomplete="off">
              </div>
              <div class="alert alert-danger error" *ngIf="!bi.valid && ( bi.dirty || bi.touched)">
                <span *ngIf="bi.errors.required" class="help-block"><i class="fa fa-remove"></i> Campo obrigatório.</span>
                <span *ngIf="bi.errors.minlength" class="help-block"><i class="fa fa-remove"></i> Deve ter 14 caracteres</span>
                <span *ngIf="bi.errors.pattern" class="help-block"><i class="fa fa-remove"></i> Formato inválido. Deve ser 123456789AZ001.</span>
              </div>
            </div>
            <span style="color: red" *ngIf="dados?.bi">{{dados.bi}}</span>
          </div>
        </div>
        <div class="form-group row"> 
          <div class="col-sm-6">
            <label class="col-form-label">E-mail<span >*</span></label>
            <div  [class.has-success]="email.valid && ( email.dirty || email.touched)" [class.has-danger]="!email.valid && ( email.dirty || email.touched)">  
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="sizing-addon1"><i class="fa fa-envelope"></i></span>
                </div>
                <input type="email" class="form-control" placeholder="email@email.com" required  pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" name="email" [(ngModel)]="subscritor.email" #email="ngModel" autocomplete="off">
              </div>
              <div class="alert alert-danger error" *ngIf="!email.valid && (email.dirty || email.touched)">
                <span *ngIf="email.errors.required" class="help-block"><i class="fa fa-remove"></i> Campo obrigatório.</span>
                <span *ngIf="email.errors.pattern" class="help-block"><i class="fa fa-remove"></i> Email inválido</span>
              </div> 
            </div> 
            <span style="color: red" *ngIf="dados?.email">{{dados.email}}</span>
          </div> <!---->
          <div class="col-sm-6">
            <label class="col-form-label">Nº Telemóvel<span >*</span></label>
            <div [class.has-success]="telefone.valid && (telefone.dirty || telefone.touched)" [class.has-danger]="!telefone.valid && (telefone.dirty || telefone.touched)">  
              <div class="input-group">
                <div class="input-group-prepend"> 
                  <span class="input-group-text" id="sizing-addon1"><i class="fa fa-phone"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Nº de telefone" required  name="telefone" minlength="9" maxlength="9" [(ngModel)]="subscritor.telemovel" #telefone="ngModel" autocomplete="off" pattern="^[0-9]*$">
              </div>
              <div class="alert alert-danger error" *ngIf="!telefone.valid && (telefone.dirty || telefone.touched)">
                <span *ngIf="telefone.errors.required" class="help-block"><i class="fa fa-remove"></i> Campo obrigatório. </span>
                <span *ngIf="telefone.errors.minlength" class="help-block"><i class="fa fa-remove"></i> Deve ter no mínimo 9 dígitos</span>
                <span *ngIf="telefone.errors.pattern" class="help-block"><i class="fa fa-remove"></i> Formato inválido</span>
              </div>
            </div>
             <span style="color: red" *ngIf="dados?.telemovel">{{dados.telemovel}}</span>
          </div>
        </div>
        <div class="form-group row"> 
          <div class="col-sm-6">
            <label class="col-form-label">Endereço de correspondência - Rua<span >*</span></label>
            <div  [class.has-success]="rua.valid && ( rua.dirty || rua.touched)" [class.has-danger]="!rua.valid && ( rua.dirty || rua.touched)"> 
              <input type="text" class="form-control" placeholder="Escreva a rua" required name="rua" [(ngModel)]="subscritor.rua" #rua="ngModel" autocomplete="off">
              <div class="alert alert-danger error" *ngIf="!rua.valid && ( rua.dirty || rua.touched)">*Campo obrigatório</div>
            </div> 
          </div>
          <div class="col-sm-6">
            <label class="col-form-label">Endereço de correspondência - Cidade<span >*</span></label>
            <div  [class.has-success]="cidade.valid && ( cidade.dirty || cidade.touched)" [class.has-danger]="!cidade.valid && ( cidade.dirty || cidade.touched)"> 
              <input type="text" class="form-control" placeholder="Escreva a cidade" required name="cidade" [(ngModel)]="subscritor.cidade" #cidade="ngModel" autocomplete="off">
              <div class="alert alert-danger error" *ngIf="!cidade.valid && ( cidade.dirty || cidade.touched)">*Campo obrigatório</div>
            </div>
          </div>
        </div> 
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" [checked]="termo" (change)="termo= !termo">
          <label class="form-check-label" for="exampleCheck1">Concordo com a <a href="#">Política de Privacidade</a> e os <a href="assets/termosCondicoes.pdf">Termos de Serviço</a></label>
           <label class="col-form-label" for="exampleInfo"><!-- <span style="color: red;">* </span> --> O custo de adesão ao concurso é de: 5000 kz</label>
        </div>
        
        <div class="form-group row">
          <div class="col-sm-9">
             <button type="submit" id="myButton" class="btn btn-default mr-1" [disabled]="!subscritorF.form.valid || !termo"> Registrar </button>

            <button type="button" class="btn btn-outline-secondary" (click)="clean(subscritorF)"> Repor </button>
          </div>
        </div>
        <div class="alert alert-success" role="alert" *ngIf="mensagem">
          <i class="fa fa-check "></i> {{mensagem}}
        </div>
        <!-- <span style="color: red" ></span> -->
      </form>
    </div>
  </div>
</div>  

 <!--
Button trigger modal
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->
<div id="modalTrigger" data-toggle="modal" data-target="#exampleModal"></div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmar Inscrição</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>-->
      </div>
      <div class="modal-body">
        <div class="container"> 
          <p class="text-left">Enviamos um código de confirmação para o seu número de telefone +244 {{subscritor.telemovel}} </p>
          <p *ngIf="subscritor.telemovel"><a href="#" (click)="validarSubscritor(subscritorF)">Não recebeu o código?</a></p> 
          <h5>Insira o código de 6 dígitos: </h5> 
          <!--<div class="col-xs-6 ml-2">-->
            <form (ngSubmit)="cadastrarSubscritor(validarF)" #validarF="ngForm" novalidate >
              <div class="form-group phone-number row mb-2">
                <div class="col-xs-1 mr-2 mb-1">
                  <input type="tel" id="c1" name="phone1" class="form-control input" value="" size="1" maxlength="1" pattern="[0-9]{1}" [(ngModel)]="codigo1" #ccodigo1="ngModel" required title="" (keyup)="keytab($event,1)" autocomplete="off">
                </div>
                <div class="col-xs-1 mr-2  mb-1">
                  <input type="tel" id="c2" name="phone2" class="form-control input" value="" size="1" maxlength="1" pattern="[0-9]{1}" [(ngModel)]="codigo2" #ccodigo2="ngModel" required title="" (keyup)="keytab($event,1)" autocomplete="off">
                </div>
                <div class="col-xs-1 mr-2  mb-1">
                  <input type="tel" id="c3" name="phone3" class="form-control input" value="" size="1" maxlength="1" pattern="[0-9]{1}" [(ngModel)]="codigo3" #ccodigo3="ngModel" required title="" (keyup)="keytab($event,1)" autocomplete="off">
                </div>
                <div class="col-xs-1 mr-2 mb-1">
                  <input type="tel" id="c4" name="phone4" class="form-control input" value="" size="1" maxlength="1" pattern="[0-9]{1}" [(ngModel)]="codigo4" #ccodigo4="ngModel" required title="" (keyup)="keytab($event,1)" autocomplete="off">
                </div>
                <div class="col-xs-1 mr-2 mb-1">
                  <input type="tel" id="c5" name="phone5" class="form-control input" value="" size="1" maxlength="1" pattern="[0-9]{1}" [(ngModel)]="codigo5" #ccodigo5="ngModel" required title="" (keyup)="keytab($event,1)" autocomplete="off">
                </div>
                <div class="col-xs-1 mr-2 mb-1">
                  <input type="tel" id="c6" name="phone6" class="form-control input" value="" size="1" maxlength="1" pattern="[0-9]{1}" [(ngModel)]="codigo6" #ccodigo6="ngModel" required title="" autocomplete="off">
                </div>
              </div>
              <span class="mb-5" style="color: red" *ngIf="mensagemChave">{{mensagemChave}}</span>
              <!-- --><div class="form-group row">
                <div class="col-sm-9">
                  <button type="submit" class="btn btn-primary btn-md mr-1" id="validar"
                  [disabled]="!validarF.form.valid">Enviar</button>
                  <button type="button" class="btn btn-danger" (click)="cancelar(validarF)" data-dismiss="modal"> Cancelar </button>
                </div>
              </div> 
            </form>
          <!-- </div> -->
         <!--  <div class="row"><form >
            <input type="tel" class="input mr-2" value="" size="1" maxlength="1" pattern="[0-9]{1}"required title="" (keyup)="keytab($event, 1)" autocomplete="off">
            <input type="tel" class="mr-2 input" value="" size="1" maxlength="1" pattern="[0-9]{1}"required title="" (keyup)="keytab($event, 1)" autocomplete="off">
            <input type="tel" class="mr-2 input" value="" size="1" maxlength="1" pattern="[0-9]{1}"required title="" (keyup)="keytab($event, 1)" autocomplete="off">
            <input type="tel" class="input mr-2" value="" size="1" maxlength="1" pattern="[0-9]{1}"required title="" (keyup)="keytab($event, 1)" autocomplete="off">
            <input type="tel" class="input mr-2" value="" size="1" maxlength="1" pattern="[0-9]{1}"required title="" (keyup)="keytab($event, 1)" autocomplete="off">
            <input type="tel" class="input mr-2" value="" size="1" maxlength="1" pattern="[0-9]{1}"required title=""  autocomplete="off">
          </form></div>
          <b>Enter your Text:</b>  
        <input type="text" id="first" size="4" (keyup)="movetoNext($event, 'second')" maxlength="3" />  
        <input type="text" id="second" size="4" (keyup)="movetoNext($event, 'third')" maxlength="3" />  
        <input type="text" id="third" size="5" maxlength="4" /> -->
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-md mr-1" id="validar" [disabled]="!validarF.form.valid">Enviar</button>
        <button type="button" class="btn btn-danger" (click)="cancelar(validarF)" data-dismiss="modal"> Cancelar </button>
      </div>-->
    </div>
  </div>
</div>