<app-header></app-header>

<!--<img style="width:100%" src="assets/concurso mediarumo.png" alt="img-concurso" height="500">
  
<app-registo></app-registo> -->
<main class="main">
	<app-registo></app-registo>
  <!--<router-outlet></router-outlet>-->
</main>

<footer class="footer-fixed">
  <div class="footer1 ">
  <a href="http://mediarumo.com/" target="_blank" rel="noreferrer">Media Rumo</a> &copy; 2019 
    <!--<span class="float-right">Powered by <a href="https://proitconsulting.com">Proit Consulting</a>
    </span>-->
</div >
</footer>
 
